<div class="contents">
  <h2>お問い合わせ</h2>
  <form name="contact" netlify>
      <div>
          <label class="label-row">メール</label>
          <div>
              <input class="textfield-row" type="email" name="email" placeholder="メールアドレス" required="required"/>
          </div>
      </div>
      <div>
          <label class="label-row">お問い合わせ内容</label>
          <div>
              <input class="textfield-row" type="text" name="name"/>
          </div>
      </div>
      <div>
          <button mat-raised-button class="send-button" type="submit">送信</button>
      </div>
  </form>
</div>        