.logo
    width:auto
    height:auto
    max-width: 24%
    max-height: 24%

.title-black
    font-weight: bold
    color: #424242
    margin-left: 12px

.auth-header-button
    color: #616161
    margin-right: 12px
    font-weight: bold

.menu-title
    margin-left: 100px

a:link
  color: #BDBDBD
  text-decoration: none

/* visited link */
a:visited
  color: #BDBDBD
  text-decoration: none

/* mouse over link */
a:hover 
  color: #BDBDBD
  text-decoration: none

/* selected link */
a:active 
  text-decoration: none
  color: #616161

.sns-icon
  width:auto
  height:auto
  margin-right: 40px
  max-width: 80%
  max-height: 80%