
.title-black
    font-weight: bold
    color: #424242
    margin-left: 12px

.auth-header-button
    color: #616161
    margin-right: 12px
    font-weight: bold

.menu-title
    margin-left: 100px

a:link
  color: #BDBDBD
  text-decoration: none

/* visited link */
a:visited
  color: #BDBDBD
  text-decoration: none

/* mouse over link */
a:hover 
  color: #BDBDBD
  text-decoration: none

/* selected link */
a:active 
  text-decoration: none
  color: #616161