<mat-card class="base-card">
    <mat-tab-group mat-align-tabs="center" animationDuration="1200ms" [dynamicHeight]=true color="warn">

        <mat-tab label="未支払い">
          <table>
            <tr *ngFor="let order of noPaidOrderList">
                <mat-card class="list-content-card">
                  <mat-toolbar class="toolbar-white">
                      <span><p class="text_position">{{ order.order_name }}</p></span>
                      <span><p class="text_position">{{ order.size }}サイズ</p></span>
                      <span><p class="text_position">¥{{ order.price }}</p></span>
                      <div class="right-position">
                          <button mat-raised-button color="warn" class="example-fill-remaining-space">QRコード表示</button>
                          <button mat-stroked-button color="warn" class="cancel-button" (click)="doCancelEvent(order.id)">キャンセル</button>
                      </div>
                  </mat-toolbar>
                </mat-card>
            </tr>
          </table>
        </mat-tab>

        <mat-tab label="並び中">
            <table>
                <tr *ngFor="let order of makingOrderList">
                    <mat-card class="list-content-card">
                      <mat-toolbar class="toolbar-white">
                              <span><p class="text_position">{{ order.order_name }}</p></span>
                              <span><p class="text_position">{{ order.size }}サイズ</p></span>
                              <span><p class="text_position">¥{{ order.price }}</p></span>
                          <div class="right-position">
                              <button mat-raised-button color="warn" class="example-fill-remaining-space">QRコード表示</button>
                              <button mat-stroked-button color="warn" class="cancel-button" (click)="doCancelEvent(order.id)">キャンセル</button>
                          </div>
                      </mat-toolbar>
                    </mat-card>
                </tr>
              </table>
        </mat-tab>

        <mat-tab label="受け取り待ち">
            <table>
                <tr *ngFor="let order of waitDeliveryOrderList">
                    <mat-card class="list-content-card">
                      <mat-toolbar class="toolbar-white">
                          <span><p class="text_position">{{ order.order_name }}</p></span>
                          <span><p class="text_position">{{ order.size }}サイズ</p></span>
                          <span><p class="text_position">¥{{ order.price }}</p></span>
                          <div class="right-position">
                              <button mat-raised-button color="warn" class="example-fill-remaining-space">QRコード表示</button>
                          </div>
                      </mat-toolbar>
                    </mat-card>
                </tr>
              </table>
        </mat-tab>

        <mat-tab label="過去の注文履歴">
            <table>
                <tr *ngFor="let order of historyOrder">
                    <mat-card class="list-content-card">
                      <mat-toolbar class="toolbar-white">
                          <span><p class="text_position">{{ order.order_name }}</p></span>
                          <span><p class="text_position">{{ order.size }}サイズ</p></span>
                          <span><p class="text_position">¥{{ order.price }}</p></span>
                      </mat-toolbar>
                    </mat-card>
                </tr>
              </table>
        </mat-tab>

    </mat-tab-group>
</mat-card>