<h1 class="title">プライバシーポリシー <span style="font-size:70%;">個人情報保護規程</span></h1>
<div class="content">
    <p>中村鷹祐（以下、「当社」といいます。）は、本個人情報保護規程（以下、「本規程」といいます。）に従って、 個人情報並びに個人番号及び特定個人情報（以下、「個人情報等」といいます。）を取り扱うものとします。 </p>
    <p>なお、用語の定義は、別段の定めがない限り、利用規約と同様とします。</p>
    <h2>1 |  個人情報・個人番号・特定個人情報</h2>
    <p>本規程において個人情報等とは、以下に定めるものをいいます。</p>
    <li>（1）個人情報</li>
    <p>当社が収集する、氏名、住所、生年月日、電話番号、電子メールアドレス、購入された商品又は利用されたサービスに関する情報、 ご回答頂いたアンケート内容、お問い合わせ・修理依頼内容、当社のウェブサイトの閲覧履歴、その他の記述等により、 その情報単独又はそれらの情報を組み合わせることで、契約者様個人を特定することができるものをいいます。</p>
    <li>（2）個人番号</li>
    <p>「行政手続における特定の個人を識別するための番号の利用等に関する法律」（マイナンバー法）の規定により、 住民票コードを変換して得られる番号であって、当該住民票コードが記載された住民票に係る者を識別するために指定されるものをいいます。</p>
    <li> （3）特定個人情報</li>
    <p>個人番号をその内容に含む個人情報をいいます。</p>
    <p>以下、本規程では、個人番号及び特定個人情報を併せて「マイナンバー」といいます。</p>
    <h2>2 | 関係法令・ガイドライン等の遵守</h2>
    <p>当社は、個人情報等の取り扱いに関し、「個人情報の保護に関する法律」（個人情報保護法）及び各省庁のガイドライン並びに 「行政手続における特定の個人を識別するための番号の利用等に関する法律」（マイナンバー法）及び「特定個人情報の適正な取扱いに関するガイドライン（事業者編）」（以下、併せて「関係法令等」といいます。）を遵守します。</p>
    <h2>3 | 利用目的</h2>
    <p>当社は、以下に掲げる利用目的の範囲で個人情報等を利用します。</p>
    <li>（1）個人情報</li>
    <p>・本サービスの提供及び運営のため</p>
    <p>・メンテナンス、重要なお知らせなど必要に応じたご案内のため</p>
    <p>・個人情報等及び登録情報の属性の集計、分析、統計資料作成のため(統計資料とは、個人が識別・特定できないように加工したものをいい、 新規サービスの開発等の業務の遂行のために利用、処理することがあります。)</p>
    <p>・本人確認のため</p>
    <p>・マーケティング調査・プランニング及び研究開発のため</p>
    <p>・登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため</p>
    <p>・本サービスにアップロードされた素材等に関してご連絡するため</p>
    <p>・お問い合わせ対応のため（お問い合わせ対応の記録･保管を含みます。）</p>
    <p>・法令等に基づく利用のため</p>
    <li>（2）マイナンバー</li>
    <p>・ 販売代金の分配額に関する支払調書作成事務のため</p>
    <p>・源泉徴収票作成事務のため</p>
    <h2>4 | 委託の取り扱い</h2>
    <p>当社は、個人情報等の取り扱いを第三者に委託することがあります。この場合、当社は、関係法令等に従って、委託先に対する必要かつ適切な監督を行います。</p>
    <h2>5 | 第三者への提供・開示</h2>
    <p>当社は、次の場合を除き、個人情報等を第三者に提供・開示することはいたしません。</p>
    <li>（1）個人情報</li>
    <p>・第三者への提供について同意のある場合</p>
    <p>・個㆟を識別することができない状態で提供・開示する場合</p>
    <p>・当社との間で、個人情報等の取り扱いに関する機密保持契約を締結している関係会社との間で、契約者様にお知らせした利用目的の範囲内で、共同利用する場合</p>
    <p>・ 法令等に基づき提供・開示を行う場合</p>
    <li>（2）マイナンバー</li>
    <p>・ マイナンバー法第19条各項のいずれかの事由に該当する場合</p>
    <h2>6 | 安全管理措置に関する事項</h2>
    <p>当社は、個人情報等の漏えい、滅失又な毀損の防止その他の個人情報等の適切な管理のために必要な措置を講じます。</p>
    <h2>7 | 免責</h2>
    <p>個人情報等の漏洩等がないよう当社は法律その他の規程に基づき適切にサービス運営を行いますが、 以下の場合に、第三者が個人情報を取得したことにより発生したトラブルについては免責されるものとします。</p>
    <p>会員又は利用者が自らが本サービス上の機能又は別の手段を用いて第三者に個人情報等を明らかにする場合 その他当社の責によらない事由に基づき発生した漏洩等の事故</p>
    <h2>8 | お問い合わせ窓口及び個人情報等の開示等請求手続き</h2>
    <h3 class="contact">【お問い合わせ窓口】</h3>
    <p>個人情報等のご意見、ご質問、苦情のお問い合わせについては、本件Webサイト及び本アプリ上のお問い合わせフォームにて受け付けております。</p>
    <h3 class="contact">【個人情報等の開示請求手続き】</h3>
    <p>個人情報等の開示及び訂正等につきましては、本件Webサイト及び本アプリ上の各管理画面により、 ご自身にて開示及び訂正等のお手続きを行って頂きます。</p>
    <p>当社は、上記お手続きの申出をいただいた後、 申出の内容に応じて、ユーザーID、ご登録のメールアドレス等のご提示を求め、 ご本人からの申出であることを確認させていただきます。</p>
    <p>当該確認の完了をもちまして、当社は個人情報保護方針の定めに従い遅滞なくご対応します。</p>
    <p> なお、申出の対象が氏名、住所、電話番号、金融機関口座情報の重要な個人情報等に関する場合、又は、ご請求がご本人以外からの代理のご請求の場合には、当社が指定するご本人確認に必要な書面、又は、 代理権を有することを証する書面をご提出いただきますこと がございますので、予めご了承ください。</p>
    <h2>9 | 本規程の変更</h2>
    <p>当社は、法令の変更その他当社の事情により、本規程を変更することができるものとし、 利用者及び会員は、本サービスの利用時に、最新の本規程に同意したものとみなされます。</p>
    <h2>10 | その他</h2>
    <p>ご自身の情報を最新かつ正確にご提供いただけない場合には、適正なサービスが受けられないことがありますので十分にご注意ください。</p>
</div>
    