
<div class="main-div" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
    <mat-card fxFlex="50%" fxFlex.sm="70%" fxFlex.xs="80%">
        <mat-card-title>モッチャムチケットスタッフのいる場所</mat-card-title>
        <mat-card-subTitle>※お支払いやタピオカの受け渡しを行なっている場所です。</mat-card-subTitle>
        <mat-card-content>
            <agm-map [zoom]="20" class="map" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </mat-card-content>
    </mat-card>
  </div>