<h1 class="title">MottoramTicket<span style="font-size:70%;padding-left: 10px;">利用規約</span></h1>
<div class="content">
    <h2>第１章 総則</h2>
    <h3>第１条（定義）</h3>
    <p>本利用規約において、別段の定めがない限り、以下の用語は以下の定義を有するものとします。</p>
    <li>（1）本規約：本利用規約を指すものとします。</li>
    <li>（2）当社：中村鷹祐 個人を指すものとします。</li>
    <li>（3）本Webサイト：トップページのURLを「https://mottram100ticket.netlify.com」とするWebサイトを総称して指すものとします。</li>
    <li>（4）本アプリ：当社が提供するアプリケーションソフトである「MottoramTicket」を指すものとします。</li>
    <li>（5）本サービス：本Webサイト及び本アプリ上で提供される一切のサービスを指すものとします。</li>
    <li>（6）利用者：本サービスの利用者及び本Webサイトにアクセスし、本Webサイトを閲覧し、又は本Webサイト又は本アプリを利用する全ての者（自然人及び法人を含みます。）を指すものとします。</li>
    <li>（7）素材等：本Webサイト又は本アプリ上で提供される写真、画像素材、撮影場所の位置情報等の一切の素材、情報等（提供の有償、無償を問わず、またアイコンに使用される等、 販売・頒布等がなされない素材、情報等を含みます。）を指すものとします。</li>
    <li>（8）会員：本規約の定めにしたがい、本サービスの会員登録を行った者を指すものとします。</li>
    <li>（9）当該素材等：本規約の定めにしたがい、会員が本Webサイト又は本アプリにアップロードした素材等を指すものとします。</li>
    <h3>第2条（本規約の運用方法）</h3>
    <p>本利用規約は、会員を含む利用者に適用されるものとし、利用者は、本サービスの利用、本Webサイトへのアクセス、 閲覧、利用等並びに本アプリの利用等について、本規約を遵守するものとします。</p>
    <h3>第3条（知的財産権）</h3>
    <p>素材等を含め、本Webサイト又は本アプリにアップロードされ又は本サービスにおいて提供される写真、画像、映像、イラスト、 文章等著作権法上の保護の客体となり得るものは全て、当社又は各著作物の権利者に帰属するものであり、 著作権法を含む知的財産権に関連する各種法令によって保護されており、本規約に定める適法な許諾を取得することなく、これらを無断で使用することは、著作権法その他の法律において禁止されています。</p>
    <h3>第4条（会員登録）</h3>
    <li>1. 利用者は、本サービスの利用にあたり、本規約に同意の上、会員登録をするものとします。</li>
    <li>2. 当社は、会員登録を申請した利用者が、過去に会員登録を取り消された者であった場合、本規約に違反するおそれがあると当社が判断した場合等、 当社が登録を適当でないと判断した場合、登録を拒否することができるものとし、利用者はこれに対して一切異議を述べないものとします。</li>
    <li>3. 会員は、登録メールアドレス及びパスワード、会員としての地位、本規約及び本サービスに関する権利及び義務について、 これを第三者に対して譲渡し、貸与し、承継し、名義変更し又は担保として提供等してはならず、これを第三者の用に供することはできないものとします。</li>
    <li>4. 利用者は、会員登録に際し、登録メールアドレス及びパスワードの設定をしなければなりません。 登録メールアドレス及びパスワードの一致を確認した場合、当該登録メールアドレス及びパスワードを保有する者として登録された会員が本サービスを利用したものとみなされます。 会員は、自らの責任において、登録メールアドレス及びパスワードを厳重に管理するものとし、パスワードは第三者に対し開示し、漏洩しないものとします。第三者による登録メールアドレス又はパスワードの使用により、 会員に損害が生じた場合であっても、当社は一切の責任を負いません。</li>
    <li>5. 会員は、メールアドレス、住所、電話番号等、会員登録に必要な事項その他当社に対して届け出ている内容に変更が生じた場合、 速やかに当社に変更された事項の報告をしなければなりません。また、会員は、常に連絡の取れる連絡先を登録し、 当社からの問い合わせがあった場合、速やかにこれに対応するものとします。変更された事項の届出を遅延又は懈怠により、 会員に不利益が生じた場合であっても、当社は一切の責任を負いません。</li>
    <h3>第5条（未成年者）</h3>
    <p>未成年者が会員になろうとする場合、当該未成年者は、その責任において、会員登録及び本サービスを利用する都度、事前に、 保護者の同意を得るものとします。万一、保護者の同意がない場合、当社は当該同意がないことに関し一切責任を負いません。</p>
    <h3>第6条（表明保証）</h3>
    <p>会員は、当社並びに他の会員及び利用者に対して、以下の各事項を表明し、保証するものとします。</p>
    <li>（1）当社、他の会員若しくは利用者又は第三者の保有する著作権等の知的財産権、肖像権、プライバシーの権利、 名誉、その他の権利又は利益を侵害する行為を行わないこと。</li>
    <li>（2）会員登録の際に提供した情報が正確であり、虚偽又は過誤を含まないこと。</li>
    <li>（3）会員登録の際に提供した情報に変更があった場合に、直ちにこれを修正すること。</li>
    <li>（4）当該素材等が当社、他の会員若しくは利用者又は第三者の保有する著作権等の知的財産権、肖像権、プライバシーの権利、名誉、 その他の権利又は利益を侵害するものではないこと。また、第三者の権利処理が必要な場合には、会員の費用と責任においてその処理がなされていること。</li>
    <li>（5）当社が、本規約の定めにしたがい、本サービスを通じて当該素材等について使用許諾等を行う権限を当社に対して付与すること。</li>
    <li>（6）当該素材に関連する情報（タグ表記、タイトル、撮影位置等を含みますが、これらに限られません。）が正確であること。</li>
    <li>（7）その他法令及び本規約に定める事項を遵守すること。</li>
    <h3>第7条（表明保証違反の効果）</h3>
    <li>1. 当社は、会員が前条の表明保証に違反した場合、当該違反に関連して発生した損害等について、一切の責任を負わないものとします。</li>
    <li>2. 当社は、前条の表明保証に違反し又は違反するおそれがある当該素材等及び不適切と認める当該素材等について、その自由な裁量に基づき、 これを削除し又は修正等することができるものとし、会員はこれに一切異議を述べず、また原因の如何にかかわらず、会員が被った損害の一切は賠償しないものとします。</li>
    <li>3. 当社は、前条の表明保証に違反し又は違反するおそれがある会員及び不適切と認める会員について、その自由な裁量に基づき、 会員登録を抹消し又は停止等することができるものとし、会員はこれに一切異議を述べず、また原因の如何にかかわらず、会員が被った損害の一切は賠償しないものとします。</li>
    <li>4. 会員が前条の表明保証に違反したことに起因して、第三者から権利侵害の申立、異議、クレーム、請求、 保全処分の申立、訴えの提起等が生じた場合、会員は、その責任と費用負担においてこれを処理し、当社に対して一切迷惑を掛けず、当社に対して損害及び費用負担を与えないものとします。</li>
    <li>5. 前項の権利侵害の申立、異議、クレーム、請求、保全処分の申立、訴えの提起等に関し、当社が損害及び費用負担 （弁護士費用等を含みます。）を被った場合、会員は、当社が被った損害及び費用負担について、この一切を賠償する責に任ずるものとします。</li>
    <li>6. 当該素材等に関連して第三者から権利侵害の申立、異議、クレーム、請求、保全処分の申立、訴えの提起等がなされた場合、 当社は、その自由な裁量に基づき、当該素材等をアップロードした会員の連絡先その他の個人情報を、当該第三者に開示することができるものとします。</li>
    <h3>第8条（禁止行為）</h3>
    <p>利用者は、以下の行為を行ってはならないものとします。</p>
    <li>（1）当社、他の会員若しくは利用者又は第三者の保有する著作権等の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為。</li>
    <li>（2）本サービスにおいて提供される機能を当社に無断で使用する行為。</li>
    <li>（3）違法行為、迷惑行為、その他本サービスの運営の妨げとなる行為。</li>
    <li>（4）他の会員若しくは利用者又は第三者に対する中傷、嫌がらせ、ハラスメント、脅迫、勧誘、マーケティング、広告等の行為。</li>
    <li>（5）犯罪行為その他公序良俗に反する行為</li>
    <li>（6）その他当社が不適切と判断する行為</li>
    <h3>第9条（禁止行為の効果）</h3>
    <li> 1. 当社は、利用者が前条の禁止行為を行った場合、当該禁止行為に関連して発生した損害等について、一切の責任を負わないものとします。</li>
    <li>2. 当社は、前条の禁止行為を行い又はそのおそれがある利用者について、その自由な裁量に基づき、当該利用者が会員である場合の会員登録の抹消又は停止等、 本サービス及び本Webサイト、本アプリへのアクセス制限その他適切と認める措置を採ることができるものとし、利用者はこれに一切異議を述べないものとし、 また原因の如何にかかわらず、会員が被った損害の一切は賠償しないものとします。</li>
    <li>3. 利用者が前条の禁止行為を行ったことに起因して、第三者から権利侵害の申立、異議、クレーム、請求、保全処分の申立、 訴えの提起等が生じた場合、利用者は、その責任と費用負担においてこれを処理し、当社に対して一切迷惑を掛けず、 当社に対して損害及び費用負担を与えないものとします。</li>
    <li>4. 前項の権利侵害の申立、異議、クレーム、請求、保全処分の申立、訴えの提起等に関し、当社が損害及び費用負担 （弁護士費用等を含みます。）を被った場合、利用者は、当社が被った損害及び費用負担の一切について、これを賠償する責に任ずるものとします。</li>
    <li>5. 本条３項所定の第三者からの権利侵害の申立、異議、クレーム、請求、保全処分の申立、訴えの提起等がなされた場合、 当社は、その自由な裁量に基づき、利用者に関する一切の情報（当該利用者が会員である場合の当社が把握している個人情報、 利用者のプロキシサーバ等アクセス履歴に関する情報等）を、当該第三者に開示することができるものとします。</li>
    <h3>第10条（個人情報保護）</h3>
    <p>当社は、別途定める当社のプライバシーポリシーに基づき、当社が保有する利用者及び会員の個人情報及び特定個人情報を適切に取り扱うものとし、利用者及び会員はこれに同意するものとします。</p>
    <h2>第２章（機能等の使用権許諾）</h2>
    <h3>第11条（使用権の許諾）</h3>
    <p>会員は、本規約の定めにしたがい、本サービスにおいて、機能の使用権の許諾を受けることができます。 </p>
    <h3>第12条（購入代金）</h3>
    <li>1. 本サービスで提供される機能につき、使用権の許諾が有償と設定されている場合、会員は、本サービスにおいて、購入代金を支払うことにより、本規約の定める使用許諾を受けることができます。</li>
    <li>2. 購入代金については、当社が別途定め、本サービス上に掲載する価格表のとおりとします。 ただし、当社は、自社の裁量において、価格表を適宜変更することができるものとします。</li>
    <h3>第13条（許諾を受ける方法）</h3>
    <ul>
      <li> 1. 会員が機能等につき使用許諾を受ける方法は、以下のとおりとします。</li>
      <ul>
        <li>（1) 当社に協力、提携者として認めた個人あるいは法人。</li>
        <li>（2）当社が雇用する従業員</li>
      </ul>
      <li>2. 会員は、当社から許諾を受けていない態様にて、営利目的の本サービスの機能を利用してはなりません。</li>
    </ul>
    <h3>第14条（購入代金の支払い）</h3>
    <p>会員は、本サービス上の定めに従って、次の方法で、利用代金を支払うものとします。<span style="font-size:80%;">※現金手渡し</span></p>
    <h3>第15条（返金、返品）</h3>
    <li>1. 会員は、本サービス上の定めに従って、次のいずれかの方法で、素材等の購入代金を支払うものとし、 銀行振込手数料、決済手数料その他の支払に要する費用は、会員が負担するものとします。
      ※当社の認める物理的な欠陥、瑕疵、障害が認められたとき。</li>
    <li>2. 前項各号に当てはまる場合、会員は、購入から10営業日以内に当社に申出を行うことで、 該当する購入をキャンセルするものとします。当社が当該申出に理由があると認める場合、当社が定める方法により、 返金を受け付けるものとします。なお、返金に係る手数料は、会員が負担するものとします。</li>
    <h2>第5章（その他の規定）</h2>
    <h3>第16条（規約違反に対する措置）</h3>
    <li>1. 当社は、利用者又は会員が、不正使用を含む本規約の条項に違反する行為をした場合、 本規約に基づく違約金の請求、素材等の使用差止、本サービスの利用停止、強制退会、一切の損害賠償請求 （合理的な弁護士費用も含む。）等の措置を採ることができるものとします。</li>
    <li>2. 利用者又は会員が本規約に違反した場合、当社は当該違反をした利用者又は会員に対し、当社が被った損害の一切を賠償するものとします。</li>
    <li>3. 素材等又はその使用用途等について本規約違反の報告が当社にあった場合、当社は、 当該違反の是正について合理的な範囲での措置を講ずるよう努め、当社の裁量でその対応を決定することができるものとし、 利用者又は会員はこれに対して一切異議を述べず、また原因の如何にかかわらず、当該是正措置に基づいて会員が被った損害の一切は賠償しないものとします。</li>
    <h3>第17条（退会時の措置）</h3>
    <ul>
      <li> 1. 会員は、本規約及び当社が本サービス上にて提供する方法に基づき、退会手続を採ることにより、 本サービスの利用を終了することができます。但し、会員に未払の購入代金がある場合、 その支払いが完了するまで退会することができません。なお、本サービスのシステム上、 会員による退会申込みが完了してから、その手続きがシステム上に反映されるまで、当社所定の時間が必要な場合があり、 会員は予めこれに同意するものとします。</li>
      <li>2. 会員が退会の申込み時点で、本サービス上のアカウントにログインできなくなり、 すべての機能が使えなくなります。また、既に販売中の素材等は、退会申込み日から7日以内の間、掲載、販売が継続します。</li>
      <li>3. 退会申込時において、当該会員の受けるべき販売代金の分配額が２１条３項所定の最低基準額に達しなかった場合、 会員は当該分配額に係る請求権を放棄したものとみなされます。</li>
      <li>4. 当社は、会員が以下のいずれかの事由に該当する場合、又はそのおそれがあると当社が判断した場合、 会員へ事前の通告、催告をすることなく、かつ会員の承諾を得ることなく、当社の裁量により、直ちに、 当該会員の退会手続を採ることができるものとし、会員はこれに一切異議を述べず、また原因の如何にかかわらず、会員が被った損害の一切は賠償しないものとします。</li>
      <ul>
        <li>（1）本規約に違反した場合</li>
        <li>（2）会員が死亡した場合</li>
        <li>（3）１年間以上本サービス上のアカウントにログインしていない場合</li>
        <li>（4）反社会的勢力である、又は反社会的勢力であったことが判明した場合</li>
        <li>（5）公序良俗に反する素材等を掲載した場合</li>
        <li>（6）本サービスの運営を妨害した場合</li>
        <li>（7）その他、当社が会員として不適切と判断した場合</li>
      </ul>
    </ul>
    <li>5. 退会により、会員と当社との間で締結された契約が解約されるものとし、会員は、 本サービスを利用することが一切できなくなるものとします。また、会員が退会した場合、 当社が既に受領した料金等の払戻しは一切行いません。又、売買が発生した素材等及びそれに関連する情報は、 当社で一定期間データを保持し、本サービスの提供に利用することができるものとします。</li>
    <h3>第18条（サービスの中断・中止）</h3>
    <p>当社は、以下の事由が生じた場合、利用者又は会員に事前に告知、通知することなく、 本サービスの運営を中断、又は中止することがあります。これらの事由による本サービスの中断又は中止によって、 利用者又は会員が損害を被った場合であっても、当社は一切責任を負いません。</p>
    <li>（1）本サービス用設備等の保守、メンテナンスを定期的に、又は緊急に行う場合</li>
    <li>（2）本サービス用設備が故障等した場合</li>
    <li>（3）地震、噴火、洪水、津波等の天災、戦争、動乱、暴動、騒乱、労働争議、火災、停電、 その他不可抗力により、本サービスが永続的又は一時的に提供できなくなった場合</li>
    <li>（4）その他、運用上、又は技術上本サービスの中断又は中止が必要であると当社が判断した場合</li>
    <h3> 第19条（免責事項）</h3>
    <li>1. 当社は、利用者及び会員への事前の通知、承諾を要さず、また利用者及び会員への何らの責任を負うことなく、 本サービスの内容を変更、休止、廃止等することができるものとし、利用者及び会員はこれに一切異議を述べないものとします。</li>
    <li>2. 利用者及び会員は、本サービスを利用するにあたり発生する携帯電話を含む情報通信機器等によるメー ルの送受信及びサイト閲覧その他に必要な通信費用の一切につき、自己が負担します。 </li>
    <li>3. 当社は、本サービス上で提供される素材等及びこれに付随するタグ表記、タイトル又は撮影場所等に関する一切の情報 （素材等に係る著作権、肖像権、パブリシティ権その他財産権の表示を含みます。）の正確性及び完全性を保証しません。 会員が本サービス上に素材等及び情報を提供する場合並びに本サービス上の素材等を購入し使用する場合、利用者及び会員はいずれも、 本規約を遵守し、自己の責任においてこれを行うものとします。 </li>
    <li> 4. 本サービス上で提供される素材等及びこれに付随するタグ表記、タイトル又は撮影場所等に関する一切の情報 （素材等に係る著作権、肖像権、パブリシティ権その他財産権の表示を含みます。）は、現状有姿で提供されるもので、 当社は、その市場性若しくは特定の目的への合致、又はこれらに瑕疵がないことにつき、何らの保証も行いません。 利用者及び会員は、自己の責任において、本サービスを利用することを承諾するものとします。</li>
    <li>5. 素材等に著作権、肖像権、その他第三者の権利侵害が発覚し、当該権利侵害に直接起因して会員が何らかの損害を被っ た場合においても、当社は、当該損害について、一切補償及び賠償を行わないものとします。</li>
    <li>6. 当社は、コンピューターシステム障害、それに伴う誤表示、コンピューター等付随する環境に基づく損害について、 一切責任を負いません。</li>
    <li>7. 当社は、画像・映像データ、テキスト等を含む当社に提出された素材等及び付随する情報等のデータ一切に関する損失・ 損害について、一切責任を負いません。利用者及び会員は、当該データのバックアップを自身で作成し、 維持するものとします。</li>
    <li>8. 当社は、本サービス、サーバー、素材等及び本サービスから送信された電子メールが、 ウィルス又はその他の有害性を有しないことを保証しません。利用者及び会員は、自己の責任において、 これら有害性に対する対応を採るものとします。</li>
    <li>9. いかなる場合であっても、当社は、本規約、本サービス、本サービス上の素材等、本規約の下許諾された権利、 信頼、アクセス、又は使用、不使用、遅延等に生起して第三者との間に生じた何らの紛争及びこれに関連するいかなる損害についても、 一切責任を負いません。</li>
    <li>10. 本サービスは、第三者の提供するＳＮＳサービス等、外部サービスと連携してサービスを提供する場合がありますが、 利用者は、自らの責任において外部サービスを利用するものとし、当社は、外部サービスの利用に関連して利用者に発生した損害について、 一切責任を負いません。利用者は、外部サービスの利用にあたっては、当該外部サービスの利用規約等を遵守するものとします。</li>
    <h3>第20条（本規約の効果）</h3>
    <p>本規約のいずれかの条項、又はその一部が、無効又は執行不能と判断された場合であっても、 本規約のその余の部分は、有効性を有するものとします。</p>
    <h3>第21条（本規約の変更）</h3>
    <p>当社は、利用者及び会員への事前通知、承諾を要さず、本規約の内容を必要に応じて変更することができます。 利用者及び会員は、本サービス利用時に、最新の利用規約に同意したものとみなされます。</p>
    <h3>第22条（連絡又は通知）</h3>
    <p>当社から利用者又は会員に対する連絡又は通知は、本サービス上での掲載又は電子メール等により行うものとします。 なお、当社から利用者への通知は、次の各号に定める時に、通知の効力が生じるものとします。</p>
    <li>（1）本サービス上での掲載 掲載がなされた時</li>
    <li>（2）電子メール 当社が会員登録のなされたメールアドレスに発信した時（実際に受信されることを要しないものとします）</li>
    <h3>第23条（事業譲渡等）</h3>
    <p>当社が本サービスに関する事業を他社に譲渡等した場合には、当該事業譲渡に伴い当社が本規約上有する地位、 本規約に基づく権利及び義務並びに会員及び会員の情報その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、 利用者及び会員は、かかる譲渡につき予め承諾します。なお、本項に定める事業譲渡等には、通常の事業譲渡のみならず、 会社分割その他事業が移転する一切の場合を含むものとします。</p>
    <h3>第24条（存続規定）</h3>
    <p>本規約４条３項ないし５項、５条ないし７条、１２条２項及び３項、１４条３項ないし９項、１５条２項、１６条２項、 １８条、２０条、２１条３項ないし５項、７項及び８項、２３条、２４条１項ないし３項、２６条ないし３３条の規定は、 退会その他の事由により会員の会員登録が取り消された後も有効に存続するものとし、また、本規約のうち利用者に関する条項は、 当該会員の退会後もなお適用されるものとします。</p>
    <h3>第25条（言語）</h3>
    <p>本規約は日本語版を正文とし、本規約につき参考のために翻訳が作成された場合においても、 日本語の正文のみが利用規約としての効力を有するものとします。</p>
    <h3>第26条（準拠法、管轄裁判所）</h3>
    <li>1. 本サービスに関する一切の問題に関する準拠法は、日本法とします。ただし、 国際物品売買契約に関する国際連合条約の適用は排除するものとします。</li>
    <li>2. 本サービスに関する一切の訴訟については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
    <p>以上</p>
    <div class="fotterend">令和元年6月8日制定</div>
</div>
    